{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}


{% block content %}
{% for post in object_list %}
  <div class = "card">
    <div class = "card-header">
      <a href = "{% url 'post_detail' post.pk %}">{{ post.title }}</a> &middot;
      <span class = "text-muted">by {{ post.author }}
      {{ post.date }}</span>
    </div>

	

    <div class="card-body">
      <p>{{ post.body }}</p>
	{% if post.image %}
      <img src="{{ post.image.url}}" alt="connect" style="max-height:600px"><br>
	{% endif %}
      <a href="{% url 'post_edit' post.pk %}">Edit</a> |
      <a href = "{% url 'post_delete' post.pk %}">Delete</a>
    </div>
    <div class = "card-footer">
      {% if not post.comments.all %}
 	No Comments Yet... <a href="add_comment"> Add One</a>
	{% endif %}


	{% for comment in post.comments.all %}
	<p>
          <span class="font-weight-bold">{{ comment.author }} &middot;</span>
           {{ comment }}
	</p>
      {% endfor %}
    </div>
   </div>
   <br />
 {% endfor %}
{% endblock content %}